Source: chaudhary
Maintainer: Shubham Chaudhary <shubhamchaudhary92@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: chaudhary
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thanks a lot for installing
 This is a universal tool for compiling all files. type 'chaudhary help' for more information after installing
